<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714531905514-fkleb9n06341uk82nmstip7o9hsfplep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714531905514-fkleb9n06341uk82nmstip7o9hsfplep</string>
	<key>API_KEY</key>
	<string>AIzaSyD64Z8GdzGhs7Id79soJ1zJ4iJOmhnX-X0</string>
	<key>GCM_SENDER_ID</key>
	<string>714531905514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elsner.elibrary</string>
	<key>PROJECT_ID</key>
	<string>ebookapp-82daa</string>
	<key>STORAGE_BUCKET</key>
	<string>ebookapp-82daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714531905514:ios:dab9f29bb1ce0d7866dc93</string>
</dict>
</plist>