<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171114144110-o4rnl921fuj1fsr1ltv4dssmntv850hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171114144110-o4rnl921fuj1fsr1ltv4dssmntv850hj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171114144110-1sj5s1riui86vkab98lfp5af1do3bhaa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUPJJ1c0KO_rVzW23ecW2dibq6u0TDECg</string>
	<key>GCM_SENDER_ID</key>
	<string>171114144110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elsner.elibrary</string>
	<key>PROJECT_ID</key>
	<string>e-library-2991a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-library-2991a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171114144110:ios:568570e269b31f8dd1217f</string>
</dict>
</plist>